body {
 font-family: "Montserrat", sans-serif;
}

.ms_blue {
 background-color: rgb(44, 62, 80);
}

.mc_bggreen {
 background-color: rgb(83, 188, 156);
 color: white;
}

.avatar {
 max-width: 300px;
}

hr {
 width: 15%;
 border: 2px solid;
 margin: 0 10px;
 max-width: 150px;
 background-color: white;
}
